.full-height {
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
}

.vertical-flex {
    display: flex;
    flex-flow: column;
}

.message-box {
    max-width: 75%;
}

.message-in {
}

.message-in-inner {
    background-color: bisque;
}

.message-out {
}
.message-out-inner {
    background-color: darkgrey;
}
.message-out-inner p {
    text-align: right;
}


.selected-player-card {
    background-color: aliceblue;
}